{% render 'partials/head.liquid' %}

<main>
  <section class="profile-card">
    <div class="profile-card-inner">
      <section class="front">
        <h1 class="name">
          Isaac<br>
          <span class="last-name">Eswa</span>
        </h1>
      </section>
      <section class="back">
        <section class="content-left">
          <img class="profile-picture" src="assets/profile-picture.jpg" alt="Foto van {{ person.name }}">
          <h3>[signature]</h3>
          <span class="signature">
            Isaac<br>
            <span class="last-name">Eswa</span>
          </span>
        </section>
        <section class="content-right">
          <h2>"Profile Card"</h2>
          <article class="personal-information">
            <div class="col-left">

              <div class="personal-information-content">
                <h3>[name]</h3>
                <p>{{ person.name }}</p>
              </div>

              <div class="personal-information-content">
                <h3>[function]</h3>
                <p>Frontend Developer</p>
              </div>
            </div>

            <div class="col-right">
              <div class="personal-information-content">
                <h3>[age]</h3>
                <p>20</p>
              </div>

              <div class="personal-information-content">
                <h3>[motivation]</h3>
                <p>John 3:16</p>
              </div>

            </div>

          </article>
          <article class="facts">
            <div class="col-left">
              <h3>[skill-set]</h3>
              <p>HTML</p>
              <p>CSS</p>
              <p>JS</p>
            </div>

            <div class="col-right">
              <h3>[interests]</h3>
              <p>Music</p>
              <p>Design & Development</p>
              <p>Photo- & Videography</p>
            </div>
          </article>
          <article class="socials">
            <div class="col-left">
              <div class="socials-content">
                <h3>[github]</h3>
                <p>IsaacEswa</p>
              </div>
              <div class="socials-content">
                <h3>[email]</h3>
                <p>isaaceswa@gmail.com</p>
              </div>

            </div>

            <div class="col-right">
              <div class="socials-content">
                <h3>[instagram]</h3>
                <p>@isaac.eswa</p>
              </div>
              <div class="socials-content">
                <h3>[phone]</h3>
                <p>+ 31 6 12 34 56 78</p>
              </div>
            </div>
          </article>
        </section>
      </section>
    </div>
  </section>
</main>

<script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}