{% render 'partials/head.liquid' %}

<main>
  <section class="profile-card">
    <div class="profile-card-inner">
      <section class="front">
        <h1 class="name">
          Isaac<br>
          <span class="last-name">Eswa</span>
        </h1>
      </section>
      <section class="back">
        <section class="content-left">
          <img class="profile-picture" src="assets/profile-picture.jpg" alt="Foto van {{ person.name }}">
          <h3>[signature]</h3>
          <span class="signature">
            Isaac<br>
            <span class="last-name">Eswa</span>
          </span>
        </section>
        <section class="content-right">
          <h2>"Profile Card"</h2>
          <article class="personal-information">
            <div class="col-left">
              <h3>[name]</h3>
              <p>[{{ person.name }}]</p>
              <h3>[function]</h3>
              <p>Frontend Developer</p>
              <h3>[age]</h3>
              <p>20</p>
              <h3>[motivation]</h3>
              <p>John 3:16</p>
            </div>
          </article>
          <article class="facts"></article>
          <article class="socials"></article>
        </section>
      </section>
    </div>
  </section>
</main>

<script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}