{% render 'partials/head.liquid' %}

<main>
  <section class="profile-card">
    <div class="profile-card-inner">
      <section class="front">
        <h1 class="name">
          Isaac<br>
          <span class="last-name">Eswa</span>
        </h1>
      </section>
      <section class="back">
        <section class="content-left">
          <img class="profile-picture" src="assets/profile-picture.jpg" alt="Foto van {{ person.name }}">
          <h3>[signature]</h3>
          <span class="signature">
            Isaac<br>
            <span class="last-name">Eswa</span>
          </span>
        </section>
        <section class="content-right">
        </section>
      </section>
    </div>
  </section>
</main>

<script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}