{% render 'partials/head.liquid' %}

  <main>
    <section class="profile-card">
      <div class="profile-card-inner">
        <section class="front">
        </section>
        <section class="back">
          <section class="content-left">
            <img class="profile-picture" src="assets/foto.jpg" alt="Foto van {{ person.name }}">
            <h1>{{ person.name }}</h1>
          </section>
          <section class="content-right">
            <p>Ik ben Frontend Designer & Developer, hiervoor heb ik mediavormgeving gestudeerd aan het Mediacollege. Ik
              houd van designen en bouwen, het liefst wil ik de vetste, uniekste websites ontwikkelen!</p>
          </section>
        </section>
      </div>
    </section>
  </main>

  <script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
