@font-face {
  font-family: "Akzidenz Grotesk";
  src: url('../fonts/AkzidenzGrotesk-Super.otf') format('opentype');
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url('../fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #614D43;
  --secondary-color: #FCF5ED;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  font-family: "Covered By Your Grace";
  color: var(--secondary-color);
  font-size: 11rem;
  font-weight: normal;
  rotate: -4deg;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  height: 595px;
  width: 842px;
  perspective: 1000px;
}

.profile-card:hover .profile-card-inner {
  transform: rotateY(180deg);
}

.profile-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* ----- front ----- */
.front {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  background-color: var(--primary-color)
}

/* ----- back ----- */
.back {
  background-color: var(--secondary-color);
  /* display: flex; */
  /* color: var(--secondary-color); */
  transform: rotateY(180deg);
  /* align-items: center; */
}

.content-left,
.content-right {}

/* ----- content-left ----- */
.content-left {}

.profile-picture {
  border-radius: 35px;
  width: 45%;
}

/* ----- content-right ----- */
.content-right {}