:root {
  --bruin: #614D43;
  --beige: #FCF5ED;
}

* {
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  height: 595px;
  width: 842px;
  perspective: 1000px;
}

.profile-card:hover .profile-card-inner {
  transform: rotateY(180deg);
}

.profile-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* ----- front ----- */
.front {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  background-color: var(--beige)
}

/* 
.handtekening {
  width: 60%;
} */

/* ----- back ----- */
.back {
  background-color: var(--bruin);
  display: flex;
  color: var(--beige);
  transform: rotateY(180deg);
  align-items: center;
}

.content-left,
.content-right {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ----- content-left ----- */
.content-left h1 {
  margin-bottom: 5px;
}

.content-left h2 {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 1.2em;
}

.content-left .socials svg {
  margin: 0 10px;
  fill: var(--beige);
  width: 10%;
}

.content-left .socials svg:hover {
  opacity: 75%;
  transition: 0.2s;
}

.socials {
  text-align: center;
}

.profile-picture {
  border-radius: 35px;
  width: 45%;
}

/* ----- content-right ----- */
.content-right {
  padding: 40px;
}

.content-right>p {
  margin-bottom: 60px;
}

.facts h3 {
  margin-bottom: 3px;
}

.facts p {
  margin-top: 0px;
}

.facts a {
  text-decoration: underline;
  color: var(--beige);
}

.facts a:hover {
  opacity: 75%;
  transition: 0.2s;
}