@font-face {
  font-family: "Akzidenz Grotesk";
  src: url('../fonts/AkzidenzGrotesk-Super.otf') format('opentype');
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url('../fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #614D43;
  --secondary-color: #FCF5ED;

  --gap-spacing: .75em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  font-family: "Covered By Your Grace";
  color: var(--secondary-color);
  font-size: 15rem;
  font-weight: normal;
  rotate: -4deg;
  line-height: 0.8;
}

h2 {
  text-transform: uppercase;
  letter-spacing: -2%;
  color: var(--primary-color);
  font-family: "Akzidenz Grotesk";
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  /* margin-bottom: .25em; */
}

h3,
p {
  font-family: Helvetica;
  letter-spacing: -3%;
}

h3 {
  font-weight: bold;
}


a {
  font-weight: lighter;
  text-decoration: underline;
  color: currentColor;
}

a:hover {
  color: grey;
  transition: .3s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  height: 595px;
  width: 842px;
  perspective: 1000px;
}

.profile-card:hover .profile-card-inner {
  transform: rotateY(180deg);
}

/*----- TIJDELIJK ----- */

.profile-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* ----- front ----- */
.front {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  background-color: var(--primary-color)
}

.last-name {
  margin-left: var(--gap-spacing);
  font-family: "Covered By Your Grace";
}

/* ----- back ----- */
.back {
  background-color: var(--secondary-color);
  transform: rotateY(180deg);
  /*----- TIJDELIJK ----- */
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.signature {
  font-family: "Covered By Your Grace";
  font-size: 3.5em;
  color: var(--primary-color);
  /* margin-top: 2em; */
  line-height: 0.8;
  padding-top: 5em;
}

/* ----- content-left ----- */
.content-left {
  width: 30%;

  h3 {
    margin-bottom: var(--gap-spacing);
  }
}

.profile-picture {
  width: 15em;
  /* height: 100%; */
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  /* margin-bottom: var(--gap-spacing); */
}

/* ----- content-right ----- */
.content-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.content-right article {
  display: flex;
  flex-direction: row;
  /* gap: 1em; */
  position: relative;
}

.content-right article:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1.5em;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed black;
}

.col-left,
.col-right {
  width: 50%;
  gap: var(--gap-spacing);
  display: flex;
  flex-direction: column;
}

.personal-information .personal-information-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  /* margin-bottom: var(--gap-spacing); */
}

/* .facts p {
  margin-top: var(--gap-spacing);
} */

.socials .socials-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-spacing);
  /* margin-bottom: .75em; */

}